.projectsContainer {
    width:60%;
    max-width: 1080px;
    margin:auto;
    padding-top:4rem;
}

.projectsContainer > .projectContainer {
    width:100%;
    color:white;
    padding-bottom:6rem;
}

.projectsContainer > .projectContainer > img {
    width:100%;
    border-radius: 4px;
}

.projectsContainer > .projectContainer > #projectName {
    text-align: center;
    font-size: 3rem;
}

.projectsContainer > .projectContainer > #projectName > a {
    font-size: 2rem;
    color:white;
}

.projectsContainer > .projectContainer > #projectDesc {
    font-size: 20px;
    width:80%;
    margin:auto;
}

.projectsContainer > .projectContainer > #projectName > a:hover {
    color:rgb(201, 201, 201);
}

.projectsContainer > .projectContainer > #projectSkills {
    text-align: center;
    font-size: 2rem;
}

.projectsContainer > .projectContainer > #projectSkills > svg {
    text-align: center;
    font-size: 2rem;
    padding:1rem;
}

@media only screen and (max-width:999px) {

    .projectsContainer {
        width:90%;
    }

    .projectsContainer > .projectContainer > #projectName {
        font-size:36px;
    }

}