.homeContainer {
    width:100%;
    height:100%;
    padding-top:4rem;
}

.homeContainer > .homeOverview {
    width:80%;
    max-width: 1080px;
    margin:auto;
    text-align: center;
    color:whitesmoke;
    padding-top:1rem;
    height:auto;
}

.homeContainer > .homeOverview > div:nth-child(1) {
    font-size:5rem;
    height:5rem;
}
.homeContainer > .homeOverview > div:nth-child(2) {
    font-size:3rem;
}

.homeSkills {
    max-width: 800px;
    margin:auto;
}

.homeSkills > .skillContainer {
    width:200px;
    display: inline-block;
    padding-top:24px;
}

.homeSkills > .skillContainer > span {
    width:100%;
    font-size: 2rem;
}

.homeSkills > .skillContainer > #skillIcon {
    width:100%;
    font-size: 4rem;
}

.homeSkills > div:nth-child(1) {
    font-size:3rem;
}

.homeOverview > img {
    width:100%;
    max-width: 800px;
    height:400px;
    object-fit: cover;
    border-radius: 30px;
}

@media only screen and (max-width: 999px) {
 
    .homeContainer > .homeOverview > div:nth-child(1) {
        font-size: 40px;
        height:40px;
    }    

    .homeContainer > .homeOverview > div:nth-child(2) {
        font-size: 32px;
    }    

    .homeSkills > .skillContainer {
        width:50%;
        display: inline-block;
        padding:1rem;
    }

}